<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Offices</title>
	<style type="text/css">
		 body, div, form { 
      padding: 0;
      margin: 0;
      outline: none;
      font-size: 16px;
      color: white;
      }
      .Main-class{
      	text-align: center;
      }
		.btn-item, button {
      padding: 10px 5px;
      margin-top: 20px;
      border-radius: 5px; 
      border: none;
      background: red; 
      text-decoration: none;
      font-size: 15px;
      font-weight: 400;
      color: #fff;
      }
      .btn-item {
      display: inline-block;
      margin: 20px 5px 0;
      }
      button {
      width: 50%;
      }
      button:hover, .btn-item:hover {
      background: black;
      }
	</style>
</head>
<body>

<div class="Main-class">
	<div class="a">
        <a href="/APPLY/index"><button type="submit" >APPLY</button></a>

	</div>
	<div class="b">
        <a href="/FEE/index"> <button type="submit" >FEE</button></a>
		
	</div>
	<div class="c">
        <a href="/FAQ/index"> <button type="submit">FAQ's</button></a>
		
	</div>
</div>
</div>
</body>
</html>