<link rel="stylesheet" href="~/css/style.css">
<div class="Main-div"> 
<div class="heading">
	<h1>GENERAL ADMISSION POLICY FOR ALL DEGREE PROGRAMS</h1>
</div>
<div class="bottom">
	<h4> Admission shall be made as per USKT Admission Policy and shall be open for all candidates from Pakistan and abroad</h4>
	<h4>Admissions will be conducted on the basis of First Year Result for the students applying for Undergraduate Programs.</h4>
	<h4>All applications must be submitted through USKT Online Admission Application system on or before the stipulated deadline. </h4>
	<h4> All information submitted through online application should be supported by the provision of copies of relevant transcripts and certificates. Information will not be considered valid if an official proof/document is missing.</h4>
	<h4>It is the sole responsibility of the applicant to provide complete, correct and timely information to the Admissions Office. Applications without complete and correct information or documents will not be considered for admission.</h4>
	<h4>In addition to the condition(s) stipulated by the USKT through admission offer letter, all admitted students MUST meet the prescribed conditions stipulated by the Higher Education Commission (HEC), Pakistan.</h4>
	<h4>Admissions shall be strictly on open merit.</h4>
	<h4> At least 50% marks in terminal degree are required to apply for admission. </h4>
	<h4> Two seats in each program shall be reserved for the disable candidates as per criteria of HEC policy.</h4>
</div>
</div>