<h2>FEE STRUCTURE</h2>

<div class="table">
   
    <link rel="stylesheet" href="~/css/FEE.css">
    <table>
  <tr>
    <th>Degree-Program</th>
    <th>Duration</th>
    <th>Fee</th>
  </tr>
  <tr>
    <td>BS - Civil Technology Admission</td>
    <td>4 Years</td>
    <td>107000</td>
      

  </tr>
  <tr>
    <td>BS - Clinical Psychology Admission</td>
    <td>4 Years</td>
    <td>95000</td>
  </tr>
  <tr>
   <td>BS - Commerce Admission</td>
     <td>4 Years</td>
    <td>90000</td>
  </tr>
  <tr>
 <td>BS - Computer Science Admission</td>
     <td>4 Years</td>
   <td>85000</td>
  </tr>
</table>
</div>
